{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-8">
            <h1>{{ ip.adresa_ip }}</h1>
        </div>
        <div class="col-4">
            <div class="col text-right">
                <a href="{{ url_for('ip_modifica', id_ip=ip.id) }}" class="btn btn-info"
                    role="button">Editeaza adresa IP</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">General</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5>Adresă IP:</h5>
                        </td>
                        <td>{{ ip.adresa_ip }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Detalii</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5>Client:</h5>
                        </td>
                        <td>{{ ip.client }}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Activ:</h5>
                        </td>
                        <td>
                            {% if ip.activ == 'DA' %}
                            <img src="{{ url_for('static', filename='img/tick.png') }}">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/delete.png') }}">
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}