{% extends "layot.jinja2" %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="POST" action="{{ url_for('clienti_adauga') }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="inputPrenume">Prenume</label>              
                    <input type="text" class="form-control" id="inputPrenume">
                    {% for error in form.prenume.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="inputNume">Nume</label>
                    <input type="text" class="form-control" id="inputNume">
                    {% for error in form.nume.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="inputAdresa">Adresa</label>
                    <input type="text" class="form-control" id="inputAdresa">
                </div>
                <div class="form-group">
                    <label for="inputLocalitate">Localitate</label>
                    <input type="text" class="form-control" id="inputLocalitate">
                </div>
                <div class="form-group">
                    <label for="inputTelefon">Telefon</label>
                    <input type="text" class="form-control" id="inputTelefon">
                </div>
                <div class="form-group">
                    <label for="listaAbonamente">Abonament</label>
                    <select class="form-control" id="listaAbonamente">
                        <option>30 RON</option>
                        <option>50 RON</option>
                        <option>100 RON</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% enblock %}